.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F9E2CF;
  }
  
  #countdown {
    font-size: 12em;
    color: #FFC300;
  }
/*   
  #message {
    display: none;
  } */
  
  #message h2 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
  }
  
  #message p {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
  }
  
  #message img {
    width: 200px;
    margin-bottom: 1em;
    border-radius: 12px;
    box-shadow: 2px 2px 5px #BDBDBD;
  }
  
  #countdown.boom {
    animation: explode 1s ease-in-out forwards;
  }
  
  @keyframes explode {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  